# Django
SECRET_KEY=your-secret-key-here-change-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# Database
DB_NAME=stocksage
DB_USER=stocksage
DB_PASSWORD=stocksage123
DB_HOST=db
DB_PORT=5432

# Redis
REDIS_URL=redis://redis:6379/0

# App settings
LANGUAGE_CODE=fr-fr
TIME_ZONE=Africa/Algiers

# Email (optional for local dev)
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# Media & Static
MEDIA_URL=/media/
STATIC_URL=/static/
